.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header{
  background-color: #613b5b;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

#input{
  display:flex;
  flex-direction:row;
  align-items: center;
}

#textSearch{
  width: 300px;
  height: 30px;
}

#categories{
  width: 300px;
  height: 30px;
}

.cart{
  display: flex;
  flex-direction: row;
}

.cart img{
  align-items: center;
}